@page
@model JMUcare.Pages.Phases.CreatePhasesModel
@{
    ViewData["Title"] = "Create Phase";
}

<h1>Create Phase</h1>

<h4>Phase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Phase.PhaseName" class="control-label"></label>
                <input asp-for="Phase.PhaseName" class="form-control" />
                <span asp-validation-for="Phase.PhaseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phase.Description" class="control-label"></label>
                <textarea asp-for="Phase.Description" class="form-control"></textarea>
                <span asp-validation-for="Phase.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phase.Status" class="control-label"></label>
                <select asp-for="Phase.Status" class="form-control" asp-items="Model.StatusOptions"></select>
                <span asp-validation-for="Phase.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phase.PhaseLeadID" class="control-label"></label>
                <select asp-for="Phase.PhaseLeadID" class="form-control" asp-items="@(new SelectList(Model.Users, "UserID", "FirstName"))"></select>
                <span asp-validation-for="Phase.PhaseLeadID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phase.GrantID" class="control-label"></label>
                <select asp-for="Phase.GrantID" class="form-control" asp-items="@(new SelectList(Model.Grants, "GrantID", "GrantTitle"))"></select>
                <span asp-validation-for="Phase.GrantID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Phases/Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}